# Arquivos de compilação, como .pyc e .pyo
mini_projeto_TO_DO_List/list/core/core/__pycache__/
mini_projeto_TO_DO_List/list/list/__pycache__/
*.py[cod]
*$py.class
**.pyc

# Arquivos gerados por ferramentas de construção
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/

# Arquivos de configuração local
*.ini
*.env

# Arquivos de registro e saída
*.log
*.swp
*.swo
*.out
*.err

# Outros arquivos específicos do Python
*.pyproj
*.coverage
htmlcov/
.coverage/
.tox/
nosetests.xml
coverage.xml
.jupyter/
.pytest_cache/